@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #f0f4f8;
  --second-background: #ffffff;
  --third-background: #969393;

  --border-color: rgb(226, 214, 214);
  --border-color-hover: #71757a;
  --main-text: #2c3e50;
  --second-text: #424141;
  --btn-prim: #04522f;
  --btn-sec: black;
  --btn-text: #e0e0e0;
}

.dark {
  --main-background: #121212;
  --second-background: #1e1e1e;
  --third-background: #2c2c2c;
  --border-color: #686666;
  --border-color-hover: #333333;
  --main-text: #e0e0e0;
  --second-text: #a0a0a0;
  --btn-prim: #2d7555;
  --btn-sec: #121212;

  --btn-text: #e0e0e0;
}

body {
  background-color: var(--main-background);
  color: var(--main-text);
}

@layer utilities {
  .h-screen-78 {
    height: calc(100vh - 78px);
    overflow: auto;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .container-layout {
    @apply px-2 sm:px-6 lg:px-12 py-2;
  }
  .error-message {
    @apply py-1 px-4 w-fit bg-red-100 text-red-700 border border-red-400 rounded-md my-2;
  }
  .disabled-btn {
    @apply disabled:text-white disabled:bg-stone-600 disabled:opacity-80 disabled:hover:brightness-90 hover:scale-100;
  }
  .delete-btn {
    @apply bg-red-700 text-white p-2 rounded-lg flex-center gap-1;
  }
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
